 <div class="client-information">
            <h4>Client:</h4>
            <p>John Doe</p>
            <p>4321 First Street</p>
            <p>Anytown, State ZIP</p>

            <h4>Order Date:</h4>
            <p class="date">10/25/14</p>
        </div><!--/client-information-->
        <div class="items">
            <table>
                <tr>
                    <th class="description">Description</th>
                    <th class="quantity">Quantity</th>
                    <th class="unit">Unit Price</th>
                    <th class="cost">Cost</th>
                </tr>
                <tr class="item-row">
                    <td class="name">Item 1</td>
                    <td class="quantity">1</td>
                    <td class="price">$100</td>
                    <td class="subtotal-price">$100</td>
                </tr>
                <tr class="subtotal">
                    <td></td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>$100</td>
                </tr>
                <tr class="tax">
                    <td></td>
                    <td>Tax</td>
                    <td>8.25%</td>
                    <td>$8.25</td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>$108.25</td>
                </tr>
            </table>